* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #c5c2c2;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.product-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #00ffcc;
}

.loading-container {
    display: flex;
    justify-content: center;
}

.button-container {
  margin-right: 25px;
}

.button-container button {
  font-size: 0.9rem;
  background-color: #1a73e8;
  border: none;
  color: #fff;
  height: 30px;
  width: 120px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-left: 5px;
}

.button-container button:hover {
  background-color: #0b499b;
}

.small-button {
  width: 30px !important;
  font-size: 1.6rem !important;
  font-weight: bold;
  line-height: 30px;
}

.small-button span {
  position: relative;
  bottom: 2px;
}

.small-button img {
  width: 20px;
  margin-bottom: 7px;
}

.counter {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #1a73e8;
}

.buy-product {
  height: 38px !important;
  width: 50px !important;
  position: relative;
  left: 25px;
}
