.footer-container {
    color: #00ffcc;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    text-align: justify;
    line-height: 1.65rem;
    background-color: #333;
}

.footer-about {
    grid-column: 1 / span 2;
}

.footer-title {
    color: #fff;
}

.footer-container a {
    color: #00ffcc;
}

.footer-copyRight {
    text-align: center;
    padding: 20px;
    background-color: #444;
    color: #fff;
}

.footer-item:nth-child(2) p, 
.footer-item:nth-child(3) p {
    margin-right: 31px;
}

.footer-social {
    margin-right: 20px;
}

.footer-social img {
    width: 30px;
    margin: 5px;
}


@media (max-width: 500px) {

    .footer-info {
        grid-template-rows: 3;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .footer-about {
        grid-row: 1;
    }

    .footer-links {
        grid-row: 2;
    }

    .footer-contact {
        grid-row: 3;
    }

}

@media (min-width: 501px) and (max-width: 768px) {

    .footer-info {
        grid-template-rows: 2;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .footer-about {
        grid-row: 1;
    }

    .footer-links {
        grid-row: 2;
    }

    .footer-contact {
        grid-row: 2;
    }

    .footer-links, .footer-contact {
        position: relative;
        top: 20px;
    }

}

/* @media (min-width: 501px) and (max-width: 768px) {

    .footer-info {
        grid-template-rows: 2;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .footer-about {
        grid-row: 1;
    }

    .footer-links {
        grid-row: 2;
    }

    .footer-contact {
        grid-row: 2;
    }

} */