.navbar {
    background-color: #6c757d ;
    align-items: center;
    padding: 0%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px 0;
}

.navbar ul a {
    color: #fff;
}